.highlight{
    background: rgb(179, 175, 235); 
  }

  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-header-row {
    position: sticky;
    top: 0;
    background: rgb(218, 233, 245);
  }

  .mat-sort-header-container {
    align-items: center;
  }