<h2>Regler <button mat-button (click)="openDialog()" title="Skapa ny regel" >
    <mat-icon>add</mat-icon>
</button>
</h2>

<br/>
<!--<div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div> -->
<div  *ngIf=dataSource >
    <div class="example-container mat-elevation-z8">
        <div>
            <mat-form-field>
              <mat-select placeholder="Regler" [formControl]="reglerFC" multiple>
                <mat-option *ngFor="let regel of uniqueRegelList" [value]="regel" (click)="applyRegelSelection()">{{regel}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        <mat-table [dataSource]=dataSource matSort (matSortChange)="sortData($event)">
                <!-- RegelTypeName Column -->
                <ng-container matColumnDef="RegelTypeName">
                       <mat-header-cell *matHeaderCellDef mat-sort-header="RegelTypeName"> RegelTypeName </mat-header-cell>
                       <mat-cell *matCellDef="let element">  {{element.RegelTypeName.RegelTypeName}} 
                          <button mat-button (click)="onEdit(element)">
                              <mat-icon>mode_edit</mat-icon>
                          </button>
                       </mat-cell>
                     </ng-container>
                 
                     <!-- Fakt Column -->
                     <ng-container matColumnDef="Fakt">
                       <mat-header-cell *matHeaderCellDef > Fakt </mat-header-cell>
                       <mat-cell *matCellDef="let element"> {{element.Fakt}} </mat-cell>
                     </ng-container>
               
                         <!-- StartAntal Column -->
                         <ng-container matColumnDef="StartAntal" >
                               <mat-header-cell *matHeaderCellDef > StartAntal </mat-header-cell>
                               <mat-cell *matCellDef="let element"> {{element.StartAntal}} </mat-cell>
                             </ng-container>
                 
                     <!-- SlutAntal Column -->
                     <ng-container matColumnDef="SlutAntal">
                       <mat-header-cell *matHeaderCellDef> SlutAntal </mat-header-cell>
                       <mat-cell *matCellDef="let element"> {{element.SlutAntal}} </mat-cell>
                     </ng-container>
                 
                     <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                     <mat-row *matRowDef="let row; columns: displayedColumns;"
                     [ngClass]="{
                      'highlight': selectedRowIndex == row.RegelId
                    }"
                    (click)="highlight(row)"
                    ></mat-row>
               </mat-table>
              </div>
               <p>Antal rader: {{dataSource.data.length}}</p>
</div>