<h2>Procedurer</h2>
<br/>
<!--<div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div> -->
<div *ngIf=dataSource>
<div class="example-container mat-elevation-z8">
<mat-table [dataSource]=dataSource  matSort >
 <!-- Position Column -->
 <ng-container matColumnDef="Organomrade">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Organomrade </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Organomrade?.SourceGroupDescription}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="Provmaterial">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Provmaterial </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Provmaterial?.SourceDescription}} </mat-cell>
      </ng-container>

          <!-- Procedure Column -->
          <ng-container matColumnDef="Procedure">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Procedure </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Procedur?.Beskrivning}} </mat-cell>
              </ng-container>
  
      <!-- IsDoctor Column -->
      <ng-container matColumnDef="IsDoctor">
        <mat-header-cell *matHeaderCellDef> IsDoctor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.IsDoctor}} </mat-cell>
      </ng-container>
  
      <!-- Faktureras Column -->
      <ng-container matColumnDef="Faktureras">
        <mat-header-cell *matHeaderCellDef> Faktureras </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Faktureras}} </mat-cell>
      </ng-container>

            <!-- AtenaNameing Column -->
            <ng-container matColumnDef="AtenaNameing">
                    <mat-header-cell *matHeaderCellDef> AtenaNameing </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.AtenaNameing}} </mat-cell>
                  </ng-container>

                        <!-- RegelTypeName Column -->
      <ng-container matColumnDef="RegelTypeName">
            <mat-header-cell *matHeaderCellDef> RegelTypeName </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.RegelTypen?.RegelTypeName}} </mat-cell>
          </ng-container>

                <!-- RegionNamn Column -->
      <ng-container matColumnDef="RegionNamn">
            <mat-header-cell *matHeaderCellDef> RegionNamn </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Region.RegionNamn}} </mat-cell>
          </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns;"
      [ngClass]="{
        'highlight': selectedRowIndex == row.ProcedurerId
      }"
      (click)="highlight(row)"></mat-row>

</mat-table>
</div>
<p>Antal rader: {{dataSource.data.length}}</p>
</div>