<p>Procedurer</p>
<table *ngIf=procedurer >
  <thead>
      <tr>
          <th>Organ-område</th>
          <th>Provmaterial</th>
          <th>Procedur</th>
          <th>Är läkare</th>
          <th>Faktureras</th>
          <th>Atena benämning</th>
          <th>Regelnamn</th>
          <th>Region</th>
      </tr>
  </thead>
  <tbody *ngFor="let item of procedurer ">
      <tr>
          <td>{{item.Organomrade}}</td>
          <td>{{item.Provmaterial}}</td>
          <td>{{item.Procedure}}</td>
          <td>{{item.IsDoctor}}</td>
          <td>{{item.Faktureras}}</td>
          <td>{{item.AtenaNameing}}</td>
          <td>{{item.RegelTypen?.RegelTypeName}}</td>
          <td>{{item.Region.RegionNamn}}</td>
      </tr>
  </tbody>
  <mark>Antal rader: {{procedurer.length}}</mark>
  
</table>
