<!--The content below is only a placeholder and can be replaced.-->
<div >
    <button mat-button [matMenuTriggerFor]="menu" >Menu</button>
    <mat-menu #menu="matMenu">
      <button routerLink="/" mat-menu-item>Hem</button>
      <button routerLink="/procedurer" mat-menu-item>Procedurer</button>
      <button routerLink="/regler"mat-menu-item>Regler</button>
      <button routerLink="/regler/app-regel-tester" mat-menu-item>Regler tester</button>
    </mat-menu>
    <button mat-button (click)="debugMe('msg')">Debug</button>
  <h1 style="text-align:center">
    Welcome to {{ title }}!
  </h1>
  <router-outlet></router-outlet>
</div>



<br/>
<hr/>
<app-messages></app-messages>

