<div>
  <p>Regel:
    <select name='Regel' *ngIf='regelTypes' class='select-option' required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)' >
      <option class='option' *ngFor='let opt of regelTypes' [value] = "opt.RegelTypeId">{{opt.RegelTypeName}}</option>
    </select>
  </p>
  <p>Fakt: <input [(ngModel)]="faktText" type="text"></p>
  <p>Start: <input [(ngModel)]="startVal" type="number"/> </p>
  <p>Slut: <input [(ngModel)]="slutVal" type="number"/></p>
</div>  
<button (click)='createRegel()'>Skapa regel</button>
<button (click)='cancel()'>Avbryt</button>
