<div class="regeltest-container">
    <mat-form-field>
        <mat-select placeholder="Region" [(ngModel)]="selectedRegion" (selectionChange)="setRegion()">
          <mat-option *ngFor="let region of regions" [value]="region.value">
            {{ region.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
          <mat-select placeholder="Organområde" [(ngModel)]="selectedOrgan" (selectionChange)="setOrganArea()">
            <mat-option *ngFor="let organ of organs" [value]="organ.value">
              {{ organ.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Procedur" [(ngModel)]="selectedProcedur">
              <mat-option *ngFor="let procedur of procedurs" [value]="procedur.value">
                {{ procedur.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf=isSunderbyn>
              <mat-select placeholder="Faktureringskod" [(ngModel)]="selectedFakturerinsKod">
                <mat-option *ngFor="let faktureringCode of faktureringCodes" [value]="faktureringCode.value">
                  {{ faktureringCode.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

          <mat-form-field>
              <mat-select placeholder="Räkna antal" [(ngModel)]="selectedWhatToCount">
                <mat-option *ngFor="let antal of countAntal" [value]="antal.value">
                  {{ antal.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            

  <mat-form-field>
    <input matInput required [(ngModel)]="antal" type="number" placeholder="Antal">
  </mat-form-field>

  <mat-form-field *ngIf='regelTypes' >
    <mat-select placeholder="Regel" class='select-option' required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)' >
      <mat-option  *ngFor='let opt of regelTypes'  [value]="opt.RegelTypeId">{{opt.RegelTypeName}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)='testRegel()'>Testa regel</button>
  <button (click)='clearText()'>Rensa</button>
</div>
<pre>{{log}}</pre>